{% embed 'base.html.twig' %}
    {% import 'macros/form_helper.html.twig' as macros %}
    {% set pageTitle = 'form_titles.members' | trans({}, 'titles') %}

    {% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_rest(form) }}
                        {{ macros.renderSubmitButton() }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endembed %}
